{% extends 'basic.html' %}
{% block css %} {% endblock %}
{% load static %}

{% block body %}


<div class="container-fluid mc3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center c1">
					<span class="s1">about mirrors</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<i class="fa fa-circle ii"></i>
					<i class="fa fa-circle ii"></i>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 c4"><center><span class="s2">lorem ipsum dolor sit amet, consectetur adipisicing elit. dolores quae porro consequatur aliquam, incidunt eius magni provedent, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt.</span></center></div>
			</div>
			<div class="row">
				<div class="col-md-6 c5">
					<img src="{% static 'img/s23.jpg' %}" class="img-responsive" width="100%">
				</div>
				<div class="col-md-6 c6">
					<div class="row">
						<div class="col-md-12 c7">
							<span class="s3">lorem ipsum dolor sit amet, consectetur adipisicing</span>
						</div>
						<div class="col-md-12 c8">
							<span class="s4">dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident</span>
						</div>
						<div class="col-md-12 c9">
							<span class="s5">consectetur adipisicing elit. dolores quae porro consequatur aliquam, incidunt fugiat. dolores quae porro consequatur aliquam, incidunt fugiant culpa esse aute nulla. malis nulla duis fugiat.</span>
						</div>
						<div class="col-md-12 c10">
							<ul><li class="l4"><i class="fa fa-check-circle-o ic"></i></li><li class="l5"><span class="s6">dolores quae porro consequatur aliquam, incidunt fugiat culpa</span></li></ul>
						</div>
						<div class="col-md-12 c10">
							<ul><li class="l4"><i class="fa fa-check-circle-o ic"></i></li><li class="l5"><span class="s6">dolores quae porro consequatur aliquam, culpa esse aute nulla</span></li></ul>
						</div>
						<div class="col-md-12 c10">
							<ul><li class="l4"><i class="fa fa-check-circle-o ic"></i></li><li class="l5"><span class="s6">dolores quae porro esse aute nulla, malis nulla duis fugiat</span></li></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}




</html>